body{
    margin: 0;
    font: roboto;
}

.header{
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    color: #F9FAF8;
    gap: 60px;
    padding: 30px;
    padding-bottom: 50px;
}

.header-top{
    display: flex;
    justify-content: space-between;
    margin-left: 15vw;
    margin-right: 15vw;
}

.header-links{
    font-size: 18px;
    display: flex;
    gap: 15px;
}

.header-logo{
    font-size: 24px;
    padding-top: 10px;
}

.header-bottom{
    display: flex;
    justify-content: space-between;
    margin-left: 15vw;
    margin-right: 15vw;
}

.hero-main-text{
    font-size: 48px;
    font-weight: bold;
    margin: 0;
}

.hero-secondary-text{
    color: #E5E7EB;
    font-size: 18px;
    text-wrap: wrap;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #E5E7EB;
}

