@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    font-family: Roboto, Verdana, sans-serif;
}

.header{
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    color: #F9FAF8;
    gap: 60px;
    padding: 30px;
    padding-bottom: 60px;
}

.header-top{
    display: flex;
    justify-content: space-between;
    margin-left: 18vw;
    margin-right: 18vw;
}

.header-links{
    font-size: 18px;
    display: flex;
    gap: 15px;
}

.header-logo{
    font-size: 24px;
    padding-top: 10px;
}

.header-bottom{
    display: flex;
    justify-content: space-between;
    margin-left: 18vw;
    margin-right: 18vw;
}

.hero-main-text{
    font-size: 48px;
    font-weight: bold;
    margin: 0;
}

.hero-secondary-text{
    color: #E5E7EB;
    font-size: 18px;
    text-wrap: wrap;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #E5E7EB;
}

.sign-up{
    background-color: #3882F6;
    border: 1px black;
    border-radius: 10px;
    padding:5px 20px;
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.random-information{
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 50px;
    margin-left: 18vw;
    margin-right: 18vw;
}

.random-header{
    align-self: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.random-pieces{
    display: flex;
    justify-content: center;
    gap:25px;
}

.piece{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 5px;
}

